// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = HeadwayDemo
PRODUCT_BUNDLE_IDENTIFIER = com.dev.HeadwayDemo
IPHONEOS_DEPLOYMENT_TARGET = 16.0
DEVELOPMENT_ASSET_PATHS = "$(SRCROOT)/HeadwayDemo/Resources/Preview Content"
